*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    // border: 1px solid black;
}
.pic{
    background-image: url(./images/homepage/isai-ramos-A6WQ57dzHgU-unsplash\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #06348C;
   
}
.logosection{
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2%;
    
    h1{
        // margin-top: 2%;
        font-size: 50px;
        position: relative;
        display: inline-block;
        // border: 1px solid white;
    
        &:after{
            content:" ";
            width: 90%;
            height: 2px;
            background-color: yellow;
            display: block;
            margin-top: 2%;
        }
    }
    ul{
        display: flex;
        gap: 8rem;
        border: 1px solid black;
        // margin-top: 4.5%;
    }
    h3{
        @extend h1;
        margin: 8% auto;
        justify-self: center;
        font-size: 70px;
        margin-bottom: 12%;
       &:after
       {
            margin-top: 15%;
       }
    }
}
    

.hero{
    background-color: rgba(39, 100, 126, 0.1);
    color: #06348C;
}
.heroform{
    padding-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    
    form
    {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 2.5%;
        
        .input{
            border-radius: 10px;
            padding: 2%;
            border: 1.5px solid grey;
        }
       
    }

}

    .btn{
        display: inline-block;
        border: 1px solid #234B9A;
        border-radius: 10px;
        padding: 15px;
        width: 30%;
        text-align: center;
        background-color: #234B9A;
        color: #fff;
        text-decoration: none;
        margin: auto;
    }

    .subscribe{
        display: flex;
       flex-direction: column;
       align-items: center;
       padding-bottom: 2%;

       h3{
       margin-top: 4%;
       margin-bottom: 2%;
       color: #06348C;
       font-size: 24px;
       }
       form{
        display: flex;
        border: 1px solid black;
        width: 60%;
        .input{
            width: 80%;
            border-right: none;
            border: 1.5px solid grey;
            border-radius: 10px 0 0 10px;
            padding-left: 3%;

        }
        // input{
        //     border-left: none;

        // }
       }
       .btn{
        border-radius: 0 10px 10px 0;
        font-size: 20px;
        font-weight: 400px;
        width: 20%;
        
       }

    }

    .footersect{
        background-color: #06348C;
        color: #fff;
       
        .grid{
            display: flex;
           
            gap: 12%;
            align-items: stretch;
            align-items: center;
            border: 3px solid black;
            width: 85%;
            padding: 2% 0 2% 5%;
            margin: auto;
            letter-spacing: 1px;
            letter-spacing: 1px;    
            h1{
                font-size: 50px;
                

            }
            h2{
                font-size: 25px;
                

            }
            li{
                list-style: none;
                margin-top: 20px;
                font-size: 20px;
                
            }
        
            .offset{
                border: 1px solid black;
                li {
                    margin-top: 30px;
                }
            }
           
        }
    //     .grid{
    //         display: flex;
    //         width: 85%;
    //         padding: 2% 0 2% 5%;
            // margin: auto;
            
    //         h1{
    //             font-size: 45px;
    //         }
    //         h2{
    //             font-size: 25px;
    //         }
    //         li{
                // margin-top: 20px;
    //         }
        

    //     th,td{
    //         border: 1px solid black;
    //         width: 350px;
    //     }
    // }
    }
.location{
    width: 70%;
    margin: auto;
}