// general styles=============================================================>
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

    .logotextcontact{
        // @extend h1 ;
        margin-top: 10%;
        font-size: 70px;
        padding-bottom: 15%;
        text-align: center;
        
        &:after{
            content:" ";
            width: 50%;
            height: 2px;
            background-color: yellow;
            display: block;
            margin-left: 1%;
            transition: 2s;
            margin: 2% auto;
        }
    }

    

.heroform{
    padding-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    
    form
    {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 2.5%;
        
        .input{
            border-radius: 10px;
            padding: 2%;
            border: 1.5px solid grey;
        }
       
    }

}
// map section================================================================>
.location{
    width: 100%;
    // height: 50%;
    // margin: auto;
}

// myfooter ==================================================================>
            footer {
                background-color: #0e51fa;
                padding: 70px 0;
            }
            
            .row {
                display: flex;
                flex-wrap: wrap; 
                justify-content: space-between;
                
            }
            
            ul {
                list-style: none;
            }
            .footer-row {
                width: 25%;
                padding: 0 15px;
                
            }
            
            .footer-row h4 {
                font-size: 18px;
                color: #ffffff;
                text-transform: capitalize;
                margin-bottom: 35px;
                font-weight: 700;
                position: relative;
            }
            
            .footer-row h3 {
                font-size: 18px;
                color: #ffffff;
                text-transform: capitalize;
                margin-bottom: 30px;
                font-size: 30px;
                font-weight: 700;
                position: relative;
            }
            
            .footer-row ul li:not(:last-child) {
                margin-bottom: 10px;
            }
            
            .footer-row ul li a {
                font-size: 16px;
                text-transform: capitalize;
                color: #ffffff;
                text-decoration: none;
                font-weight: 300;
                color: #bbbbbb;
                display: block;
            
            }
            
            .footer-row ul li a:hover {
                color: #ffffff;
                padding-left: 8px;
            }
            
            .footer-row .social-links a {
                display: inline-block;
                height: 40px;
                width: 40px;
                background-color: rgba(233, 227, 227, 0.2);
                margin: 0 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: #ffffff;
            }
            
            .footer-row .social-links a:hover {
                color: #24262b;
                background-color: #ffffff;
            }
    
    
