// generalstyles ===============================================================>
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
}
.btn{  /*----button style----*/
    display: inline-block;
    border: 1px solid #234B9A;
    border-radius: 10px;
    padding: 15px;
    width: 15%;
    text-align: center;
    background-color: #234B9A;
    color: #fff;
    text-decoration: none;
    // margin: auto;
}
.btncenter{
    margin-left: 42%;
}
// logosection ===============================================================>
.pic{
    background-image: url(./images/homepage/isai-ramos-A6WQ57dzHgU-unsplash\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #06348C;
   
}

.logosection{
    display: flex;
    margin-bottom: 10%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
    
    h1{
        // margin-top: 2%;
        font-size: 50px;
        position: relative;
        display: inline-block;
        // border: 1px solid white;
    
        &:after{
            content:" ";
            width: 90%;
            height: 2px;
            background-color: yellow;
            display: block;
            margin-left: 1%;
        }
    }
    ul{
        display: flex;
        gap: 8rem;
        border: 1px solid black;
        // margin-top: 4.5%;
        
    }
    }
    
   
    .logoform{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
        padding-top: 5%;
    
        .logotext{
            font-size: 50px;
            text-align: center;
            // margin: 8% auto;
            margin: 3% 0 3% 0;
            word-spacing: 10px;

        }
        form{
            display: flex;
            flex-wrap: nowrap;
            width: 70%;
            border: 1px solid black;
            margin-bottom: 10%;

        input{
            display: inline-block;
            padding: 1%;
            width: 45%;
            border: 3px solid #F2B30F;
            // margin-bottom: 15%;
        
        }
        .join{
            border-left: none;
        }
        .btn{
            border-radius: 0 10px 10px 0;
            font-size: 15px;
            font-weight: 100px;
            width: 11%;
           }
    }

}
// herosection================================================>
    .hero{
        background-color: rgba(39, 100, 126, 0.1);
        color: #06348C;
    .headfoot{
        display: flex;
        width: 55%;
        justify-content: space-between;
        padding: 2% 0 2% 0;
        margin: 0 auto;
        
        span{
            display: block;
            margin-bottom: 20%;
            font-size: 35px;
            text-align: center;
            position: relative;
        &::after{
            content: " ";
            display: block;
            position : absolute;
            margin-top: 5%;
            width: 100%;
            height: 5%;
            background: #234B9A;
            }
        }
    }
}

/*================================================================
Main body*/

.maintext{
    color: #06348C;
    text-align: center;
    margin-bottom: 2%;
    h1{
        font-size: 35px;
        padding-top: 2%;
        margin-bottom: 2%;
    }
    
}
/*================================================================
reuseable layouts*/
.col-1-3{
    width: 28.9%;
}
.col-1-2{
    width: 45.3%;
}

.details{
    margin-top: -1%;
    border: 2px solid #F2B30F;
    border-top: none;
    padding: 0 4% 4% 2%;
    line-height: 30px;
    // width: 100%;
    img{
        size:100% 100%;
        
    }
   .detailhead{
    display: flex;
    justify-content: space-between ;
    h3{
        color: #06348C;
        font-weight: 500;
    }
   }
}
/*================================================================
room style*/
.rooms{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.roomsect{
    margin-bottom: 2%;
}
/*================================================================
suite style*/
.suite{
    // width: 65%;
    // margin: 0 auto;
    padding: 0 15% 0 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img{
        width: 100%;
    }
}
.suitename{
    border: 2px solid #F2B30F;
    border-top: none;
    margin: -1% 0 10% 0;
    padding: 5% 5% 5% 5%;
    text-align: center;
    width: 100%;
}

/*================================================================
buttons*/
// .btn{
//     display: inline-block;
//     margin-left: 45%;
//     border: 1px solid #234B9A;
//     border-radius: 10px;
//     padding: 15px;
//     width: 15%;
//     text-align: center;
//     background-color: #234B9A;
//     color: #fff;
//     text-decoration: none;
// }

// mannnnnnnnnn my Head is aching, ive not eaten the whole day ahahhahahaahahahahhaha!!!!!!!


/*================================================================
Facilities*/
  

    .facilitiestxt{
        @extend .maintext;
        margin-top: 1%;
    }
    .facilities{
        display: flex;
       justify-content: space-between;
       margin-bottom: 2%;
       
       img{
        width: 100%;
       }
       .status{
        background-color: #37A335;
        color: #fff;
        border-radius: 20%;
       }
       .details{
        width: 100%;
        height: 16%;
        padding: 0 4% 4% 2%;
        margin-bottom: 5%;      
     }
       h3{
        font-size: 18px;
       }
       
    }

    /*=============================================================
    Map and Contacts==============================*/
     
    .backgrd{
        background-color: rgba(39, 100, 126, 0.1);
        
        .map{
            margin-top: 2%;
            display: flex;
            column-gap: 2%;
        .locationland{}
        }
        .contact{
            // padding: 10% 10% 10% 5%;
            border: 1px solid black;
            h3{
                color: #234B9A;
                font-size: 40px;
                margin-bottom: 20%;
            }
            li{
                font-size: 30px;
                margin-bottom: 10%;
                
                &:nth-child(4){
                    margin-bottom: 14%;
                }
            }
        }
    }

    /*=============================================================
    subscribe ==============================*/
    .subscribe{
        display: flex;
       flex-direction: column;
       align-items: center;
       padding-bottom: 2%;

       h3{
       margin-top: 4%;
       margin-bottom: 2%;
       color: #06348C;
       font-size: 24px;
       }
       form{
        display: flex;
        border: 1px solid black;
        width: 60%;
        .input{
            width: 80%;
            border-right: none;
            border: 1.5px solid grey;
            border-radius: 10px 0 0 10px;
            padding-left: 3%;

        }
        
       }
       .btn{
        border-radius: 0 10px 10px 0;
        font-size: 20px;
        font-weight: 400px;
        width: 20%;
       }

    
    }

