/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1,
.logotextcontact, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
}

.btn { /*----button style----*/
  display: inline-block;
  border: 1px solid #234B9A;
  border-radius: 10px;
  padding: 15px;
  width: 15%;
  text-align: center;
  background-color: #234B9A;
  color: #fff;
  text-decoration: none;
}

.btncenter {
  margin-left: 42%;
}

.pic {
  background-image: url(./images/homepage/isai-ramos-A6WQ57dzHgU-unsplash\ 1\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #06348C;
}

.logosection {
  display: flex;
  margin-bottom: 10%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2%;
}
.logosection h1, .logosection .logotextcontact {
  font-size: 50px;
  position: relative;
  display: inline-block;
}
.logosection h1:after, .logosection .logotextcontact:after {
  content: " ";
  width: 90%;
  height: 2px;
  background-color: yellow;
  display: block;
  margin-left: 1%;
}
.logosection ul {
  display: flex;
  gap: 8rem;
  border: 1px solid black;
}

.logoform {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding-top: 5%;
}
.logoform .logotext {
  font-size: 50px;
  text-align: center;
  margin: 3% 0 3% 0;
  word-spacing: 10px;
}
.logoform form {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  border: 1px solid black;
  margin-bottom: 10%;
}
.logoform form input {
  display: inline-block;
  padding: 1%;
  width: 45%;
  border: 3px solid #F2B30F;
}
.logoform form .join {
  border-left: none;
}
.logoform form .btn {
  border-radius: 0 10px 10px 0;
  font-size: 15px;
  font-weight: 100px;
  width: 11%;
}

.hero {
  background-color: rgba(39, 100, 126, 0.1);
  color: #06348C;
}
.hero .headfoot {
  display: flex;
  width: 55%;
  justify-content: space-between;
  padding: 2% 0 2% 0;
  margin: 0 auto;
}
.hero .headfoot span {
  display: block;
  margin-bottom: 20%;
  font-size: 35px;
  text-align: center;
  position: relative;
}
.hero .headfoot span::after {
  content: " ";
  display: block;
  position: absolute;
  margin-top: 5%;
  width: 100%;
  height: 5%;
  background: #234B9A;
}

/*================================================================
Main body*/
.maintext, .facilitiestxt {
  color: #06348C;
  text-align: center;
  margin-bottom: 2%;
}
.maintext h1, .maintext .logotextcontact, .facilitiestxt h1, .facilitiestxt .logotextcontact {
  font-size: 35px;
  padding-top: 2%;
  margin-bottom: 2%;
}

/*================================================================
reuseable layouts*/
.col-1-3 {
  width: 28.9%;
}

.col-1-2 {
  width: 45.3%;
}

.details {
  margin-top: -1%;
  border: 2px solid #F2B30F;
  border-top: none;
  padding: 0 4% 4% 2%;
  line-height: 30px;
}
.details img {
  size: 100% 100%;
}
.details .detailhead {
  display: flex;
  justify-content: space-between;
}
.details .detailhead h3 {
  color: #06348C;
  font-weight: 500;
}

/*================================================================
room style*/
.rooms {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.roomsect {
  margin-bottom: 2%;
}

/*================================================================
suite style*/
.suite {
  padding: 0 15% 0 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.suite img {
  width: 100%;
}

.suitename {
  border: 2px solid #F2B30F;
  border-top: none;
  margin: -1% 0 10% 0;
  padding: 5% 5% 5% 5%;
  text-align: center;
  width: 100%;
}

/*================================================================
buttons*/
/*================================================================
Facilities*/
.facilitiestxt {
  margin-top: 1%;
}

.facilities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.facilities img {
  width: 100%;
}
.facilities .status {
  background-color: #37A335;
  color: #fff;
  border-radius: 20%;
}
.facilities .details {
  width: 100%;
  height: 16%;
  padding: 0 4% 4% 2%;
  margin-bottom: 5%;
}
.facilities h3 {
  font-size: 18px;
}

/*=============================================================
Map and Contacts==============================*/
.backgrd {
  background-color: rgba(39, 100, 126, 0.1);
}
.backgrd .map {
  margin-top: 2%;
  display: flex;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
.backgrd .contact {
  border: 1px solid black;
}
.backgrd .contact h3 {
  color: #234B9A;
  font-size: 40px;
  margin-bottom: 20%;
}
.backgrd .contact li {
  font-size: 30px;
  margin-bottom: 10%;
}
.backgrd .contact li:nth-child(4) {
  margin-bottom: 14%;
}

/*=============================================================
subscribe ==============================*/
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}
.subscribe h3 {
  margin-top: 4%;
  margin-bottom: 2%;
  color: #06348C;
  font-size: 24px;
}
.subscribe form {
  display: flex;
  border: 1px solid black;
  width: 60%;
}
.subscribe form .input {
  width: 80%;
  border-right: none;
  border: 1.5px solid grey;
  border-radius: 10px 0 0 10px;
  padding-left: 3%;
}
.subscribe .btn {
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  font-weight: 400px;
  width: 20%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.logotextcontact {
  margin: 8% auto;
  justify-self: center;
  font-size: 70px;
  margin-bottom: 12%;
}
.logotextcontact:after {
  margin-top: 15%;
}

.heroform {
  padding-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.heroform form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 2.5%;
}
.heroform form .input {
  border-radius: 10px;
  padding: 2%;
  border: 1.5px solid grey;
}

.location {
  width: 100%;
}

.footersect {
  background-color: #06348C;
  color: #fff;
}
.footersect .grid {
  display: flex;
  gap: 12%;
  align-items: stretch;
  align-items: center;
  border: 3px solid black;
  width: 85%;
  padding: 2% 0 2% 5%;
  margin: auto;
  letter-spacing: 1px;
  letter-spacing: 1px;
}
.footersect .grid h1, .footersect .grid .logotextcontact {
  font-size: 50px;
}
.footersect .grid h2 {
  font-size: 25px;
}
.footersect .grid li {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
.footersect .grid .offset {
  border: 1px solid black;
}
.footersect .grid .offset li {
  margin-top: 30px;
}/*# sourceMappingURL=styles.css.map */