/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
=====================
Rooms
===================== 
 */

 
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container1{
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
/* .log-container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid black;
  }
  
 
  
  .pic {
    background-image: url(./images/Bliss_Hotel/isai-ramos-A6WQ57dzHgU-unsplash\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #06348C;
  }
  
  .logosection {
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
  }
  .logosection h1, .logosection .logotextcontact {
    font-size: 50px;
    position: relative;
    display: inline-block;
  }
  .logosection h1:after, .logosection .logotextcontact:after {
    content: " ";
    width: 90%;
    height: 2px;
    display: block;
    margin-left: 1%;
  }
  .logosection ul {
    display: flex;
    gap: 8rem;
    border: 1px solid black;
  }
  
  .logoform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding-top: 5%;
  }
  .logoform .logotext {
    font-size: 50px;
    text-align: center;
    margin-bottom: 5%;
    word-spacing: 10px;
  }
  .logoform form {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    border: 1px solid black;
    margin-bottom: 10%;
  }
  .logoform form input {
    display: inline-block;
    padding: 1%;
    width: 50%;
    border: 3px solid #F2B30F;
  }
  .logoform form .join {
    border-left: none;
  }
  .logoform form .hero-btn {
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    font-weight: 700;
    width: 20%;
  } */
  .logoimg{
    width: 40%;
    height: 15px;
    display: inline-block;
    padding-left: 6px;
  }
  .btnlogo{ 
    display: inline-block;
    border: 1px solid #234B9A;
    border-radius: 10px;
    padding: 15px;
    width: 15%;
    text-align: center;
    background-color: #234B9A;
    color: #fff;
    text-decoration: none;
    
  }
  .pic {
    background-image: url(./images/Bliss_Hotel/isai-ramos-A6WQ57dzHgU-unsplash\ 1\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #06348C;
  }
  
  .logosection {
    display: flex;
    padding-bottom: 10%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
  }
  .logosection h1, .logosection .logotextcontact {
    font-size: 50px;
    position: relative;
    display: inline-block;
  }
  .logosection h1:after, .logosection .logotextcontact:after {
    content: " ";
    width: 90%;
    height: 2px;
    background-color: yellow;
    display: block;
    margin-left: 1%;
  }
  .logosection ul {
    display: flex;
    gap: 8rem;
  }
  
  .logoform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
  }
  .logoform .logotext {
    font-size: 50px;
    text-align: center;
    margin: 3% 0 3% 0;
    word-spacing: 10px;
  }
  .logoform form {
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
    margin-bottom: 10%;
  }
  .logoform form input {
    display: inline-block;
    padding: 1%;
    width: 45%;
    border: 3px solid #F2B30F;
  }
  .logoform form .join {
    border-left: none;
  }
  .logoform form .btn {
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    font-weight: 100px;
    width: 11%;
  }


/*========================================
Rooms
========================================== 
 */
 .container {
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* background-color: #bbbbbb; */
  }

  
 .laroche{
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* padding-bottom: 30px; */
 }
 .col-1-2{ 
    width: 34%;
    display: flex;
    justify-content: space-between;
} 
/* rooms style */
.container-roomsect{
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
}
.room{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 30px 0 30px 5px;
    /* margin: 30px 0 30px 0; */
    margin: 0 auto;
}

.image-room{
    width: 100%;
}
/*=======
========= details */
.detailhead{
display: flex;
justify-content: space-between;
padding-top: 20px;
}
.room-text{
    padding-top: 60px;
}
.room-text p{
    line-height: 30px;
    font-weight: 400;
    padding-left: 30px;
}
.wrap{
    /* border: 2px solid black; */
    border: 1px solid #F2B30F;
    width: 57.8%;
    border-left:0 ;
}
.wrap .detail-foot{
    display: flex;
justify-content: space-between;
padding-top: 40px;
padding-left: 30px;
}
.detailhead h3{
    font-weight: 700;
    font-size: 50px;
    color: #06348C;
    padding-top: 20px;
    padding-left: 30px;
}
.detail-foot p{
    font-weight: 700;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 25px;
}

.rating{
    font-size: 24px;
    padding-top: 40px;
    padding-right: 20px;
}
/* =============
subscribe========= */
.container-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    background-color: rgba(39, 100, 126, 0.1);
  }
 
  .container-subscribe h3 {
    margin-top: 4%;
    margin-bottom: 2%;
    color: #06348C;
    font-size: 24px;
  }
  .container-subscribe form {
    display: flex;
    /* border: 1px solid black; */
    width: 50%;
    text-align: center;
  }
  .container-subscribe form .input {
    width: 80%;
    border-right: none;
    border: 1.5px solid #F2B30F;
    border-radius: 10px 0 0 10px;
    padding-left: 3%;
  }
  .container-subscribe .hero-btn{
    font-weight: 700;
  }

/*
===============================
Facilities
===============================
*/
*{
     margin: 0; 
     padding: 0; 
     box-sizing: border-box;
}
.laroche{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.main{
    display: flex;
    justify-content: space-between;
}
.fac-container{
    width: 32%;
    /* background-color: aqua; */
    margin: 40px;
    /* display: flex; */
    /* justify-content: space-between; */
    margin:40px 0 0 0;
}
.fac-container .image{
    width: 100%;
}
.image img{
    width: 100%; 
    /* display: block; */
    /* height: 400px; */
    
}
.text1{
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
    border-top: none;
    padding-bottom: 10px;
    padding-left: 40px;
    width: 100%;
    height: 150px;
    line-height: 30px;
    
}
.fac{
    padding-right: 20px;
}
.text-fac p{
    font-size: 24px;
    font-weight: 700;
    padding-left: 40px; 
    padding-top: 20px; 
}


.text1 ul li{
    list-style: none;
}
.tick{
    list-style-type: none;
    padding-left: 2.5em;
    background-image: url(./images/facilities/tick1.jpeg);
    background-size: 1em;
    background-repeat: no-repeat;
}
/* ==============
button
=================
 */
 .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding: 12px 34px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    background-color: #234B9A;
}
/* .fac-btn{
    width: 17%;
    border: 1px solid black;
    text-align: center;
    border-radius: 20%;
    padding: 12px 30px;
    margin-top: 120px;
    background-color: green;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
.fac-btn a{
    margin-bottom: 100px;

} */

.fac-btn{
    border: 1px solid #fff;
    background-color: green;
    

}
.fac-btn{
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    padding: 5px 14px;
    
    color: #fff;

}

.fac-btn{
margin-top: 20px;
margin-bottom: 20px;
color: #ffffff;
border: 1px solid #fff;
border-radius: 5px;
text-align: center;
font-weight: 700;
width: 100%;
}

 .btn{ 
    height: 150px;
    width: 80%;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-weight: 700;
} 
.btn a{
    font-weight: 700;
    font-size: 24px;
}
.btn1{
display: inline-block;
margin-left: 35%;
border: 1px solid #234B9A;
border-radius: 10px;
padding: 15px;
width: 25%;
text-align: center;
background-color: #234B9A;
color:#fff;
text-decoration: none;
}


/*
=======================
footer
========================
 */
/* body {
    line-height: 24px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    /* background-color: blue; */
    margin: auto;
}
footer {
    background-color: #0e51fa;
    padding: 70px 0;
}

.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    
}

ul {
    list-style: none;
}
.footer-row {
    width: 25%;
    padding: 0 15px;
    
}

.footer-row h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 700;
    position: relative;
}

.footer-row h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.footer-row ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-row ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;

}

.footer-row ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-row .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(233, 227, 227, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.footer-row .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* responsive */

@media(max-width: 574px){
    .footer-row{
        width: 100%;
        margin-bottom: 30px;
    }
} 